*{
    margin: 0;
  }
  
  .app {
    background-color: #fafafa;
  }
  
  .app__header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
  }

  .Logo {
      height: auto;
      width: auto;
      max-width: 7rem;
      max-height: 7rem;
  }